NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://wfiqxdpbcflpezaengld.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndmaXF4ZHBiY2ZscGV6YWVuZ2xkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5MTUxNjAsImV4cCI6MjEwMDQ5MTE2MH0.mAUSL93MvDgsrcCVf_ytzeaKJBQlDbWI_bsNVNpx8Ww
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndmaXF4ZHBiY2ZscGV6YWVuZ2xkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDkxNTE2MCwiZXhwIjoyMTAwNDkxMTYwfQ.RvVlTa0SvEQLWQ7P8ez-50sQVMNh8JxwfNn3N7GKsvg
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=